*{
    padding: 0;
    margin: 0;
}

body{
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
    width: 436px;
    height: 654px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
}

#display{
    background-color: white;
    border: 2px solid black;
    flex: 1;
    margin: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: xxx-large;
}

#buttons{
    flex: 5;
    margin: 20px;
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

#button{
    flex: 1 1 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button:hover{
    cursor: pointer;
    background-color: rgb(245, 215, 215);
}